In [1]:
from colocalizer_functions import *
import pandas as pd
import numpy as np
from os.path import basename, splitext

In [2]:
images = loadImage('data/test1.tif')

In [3]:
df, img_shape = contourImage(images, 1, 2)

In [4]:
df

       contour_chan1  contour_chan2  orig_chan1  orig_chan2
0                NaN            NaN         0.0         0.0
1                NaN            NaN         0.0         0.0
2                NaN            NaN         0.0         0.0
3                NaN            NaN         0.0         0.0
4                NaN            NaN         0.0         0.0
5                NaN            NaN         0.0         0.0
6                NaN            NaN         0.0         0.0
7                NaN            NaN         0.0         0.0
8                NaN            NaN         0.0         0.0
9                NaN            NaN         0.0         0.0
10               NaN            NaN         0.0         0.0
11               NaN            NaN         0.0         0.0
12               NaN            NaN         0.0         0.0
13               NaN            NaN         0.0         0.0
14               NaN            NaN         0.0         0.0
15               NaN            NaN         0.0         0.0
16               NaN            NaN         0.0         0.0
17               NaN            NaN         0.0         0.0
18               NaN            NaN         0.0         0.0
19               NaN            NaN         0.0         0.0
20               NaN            NaN         0.0         0.0
21               NaN            NaN         0.0         0.0
22               NaN            NaN         0.0         0.0
23               NaN            NaN         0.0         0.0
24               NaN            NaN         0.0         0.0
25               NaN            NaN         0.0         0.0
26               NaN            NaN         0.0         0.0
27               NaN            NaN         0.0         0.0
28               NaN            NaN         0.0         0.0
29               NaN            NaN         0.0         0.0
...              ...            ...         ...         ...
93375            NaN            NaN         0.0         0.0
93376            NaN            NaN         0.0         0.0
93377            NaN            NaN         0.0         0.0
93378            NaN            NaN         0.0         0.0
93379            NaN            NaN         0.0         0.0
93380            NaN            NaN         0.0         0.0
93381            NaN            NaN         0.0         0.0
93382            NaN            NaN         0.0         0.0
93383            NaN            NaN         0.0         0.0
93384            NaN            NaN         0.0         0.0
93385            NaN            NaN         0.0         0.0
93386            NaN            NaN         0.0         0.0
93387            NaN            NaN         0.0         0.0
93388            NaN            NaN         0.0         0.0
93389            NaN            NaN         0.0         0.0
93390            NaN            NaN         0.0         0.0
93391            NaN            NaN         0.0         0.0
93392            NaN            NaN         0.0         0.0
93393            NaN            NaN         0.0         0.0
93394            NaN            NaN         0.0         0.0
93395            NaN            NaN         0.0         0.0
93396            NaN            NaN         0.0         0.0
93397            NaN            NaN         0.0         0.0
93398            NaN            NaN         0.0         0.0
93399            NaN            NaN         0.0         0.0
93400            NaN            NaN         0.0         0.0
93401            NaN            NaN         0.0         0.0
93402            NaN            NaN         0.0         0.0
93403            NaN            NaN         0.0         0.0
93404            NaN            NaN         0.0         0.0

[93405 rows x 4 columns]

In [5]:
df = applyThreshold(df, 0)

In [6]:
MA, MB = MandersCoef(df, img_shape)

In [7]:
MB

112.09712379472259

In [8]:
predictions, rsquared, coef, pearson = colocRegression(df)

In [9]:
df = residualReconstitutor(df, predictions)

In [10]:
img_name = splitext(basename('data/test1.tif'))[0]

colocGrapher(df, img_shape, predictions, rsquared, img_name)

In [11]:
pearson

(array([ 0.97639185]), array([ 0.]))

In [14]:
len(df['contour_chan1'].dropna())

52408

In [15]:
len(df['contour_chan2'].dropna())

52408

In [18]:
df[['contour_chan1',  'contour_chan2']].dropna()

       contour_chan1  contour_chan2
132              0.0            0.0
133              0.0            0.0
134           9988.0        10007.0
135          10020.0         9996.0
322              0.0            0.0
323              0.0            0.0
324          10001.0         9978.0
325           9971.0        10035.0
326          10115.0         9999.0
327          10003.0         9998.0
328          10028.0        10006.0
329          10114.0        10021.0
330           9977.0         9994.0
513              0.0            0.0
514              0.0            0.0
515          10106.0        10000.0
516          10086.0        10031.0
517           9987.0        10003.0
518          10019.0        10027.0
519          10118.0        10142.0
520          10101.0        10033.0
521           9978.0         9985.0
522           9992.0        10002.0
523          10016.0         9992.0
524           9982.0        10008.0
525          10090.0         9998.0
526              0.0            0.0
703              0.0            0.0
704              0.0            0.0
705              0.0            0.0
...              ...            ...
92834            0.0            0.0
92835            0.0            0.0
92836        10211.0        10223.0
92837        10258.0        10110.0
92838        10183.0        10243.0
92839        10208.0        10047.0
92840        10075.0        10094.0
92841        10111.0        10074.0
92842        10086.0        10217.0
92843         9998.0        10049.0
92844        10029.0        10311.0
92845        10179.0        10151.0
92846        10299.0        10031.0
93030            0.0            0.0
93031            0.0            0.0
93032        10079.0        10074.0
93033        10043.0        10049.0
93034        10006.0         9980.0
93035        10112.0        10071.0
93036        10057.0        10047.0
93037        10115.0        10080.0
93038         9987.0        10047.0
93039        10018.0        10066.0
93040        10016.0        10081.0
93228            0.0            0.0
93229        10024.0        10175.0
93230        10375.0        10075.0
93231        10051.0        10025.0
93232        10047.0        10084.0
93233        10071.0        10055.0

[52408 rows x 2 columns]